body {
	color: white;
	background-color: rgb(40, 41, 43);
	font-family: Helvetica;
	font-size: 20px;
	padding: 25px;
}

a {
	color: white;
	transition: color .1s;
	&:hover {
		color: rgb(232, 53, 71);
	}
}

h1 {
	margin-top: 10px;
	margin-bottom: 10px
}

h2 {
	margin-top: 150px;
	margin-bottom: 10px;
}

h3 {
	margin-top: 50px;
	margin-bottom: 10px;
}